---
baseurl: "http://akjamie.github.io"
title: "Jamie's Blog"
theme: "hugo-theme-cleanwhite"
languageCode: "en-us"
# Enable comments by entering your Disqus shortname
disqusShortname: ""
googleAnalytics: ""
preserveTaxonomyNames: true
pagination:
  pagerSize: 10
hasCJKLanguage: true

outputs:
  home:
    - HTML
    - RSS
    - Algolia
    
outputFormats:
  Algolia:
    baseName: algolia
    isPlainText: true
    mediaType: application/json
    notAlternative: true
 
markup:
  tableOfContents:
    endLevel: 2
    startLevel: 1
  highlight:
    style: dracula
  goldmark:
    renderer:
      unsafe: true
      
params:
  header_image: "img/header-03.png"
  SEOTitle: "The curious developer's ODYSSEY"
  description: "Jamie, Senior Software Engineer, Open source enthusiast, PMP, Scrum master"
  keyword: >-
    "Jamie Zhang, blog, personal website, internet, Web, cloud native, Kubernetes, microservices, Microservice"
  slogan: "The curious developer's ODYSSEY, Exploring the Universe of TECH, CODE & AI."
  
  image_404: img/404-bg.jpg
  title_404: 'You have reached a barren land with no knowledge :('

  page_view_conter: false
  leancloud_app_id: ""
  leancloud_app_key: ""
  
  # Algolia site search
  algolia_search: true
  algolia_appId: "N89YM3N668"
  algolia_indexName: "test_20190722"
  algolia_apiKey: "824114b6bdea662f38f5a26b53c6e2a0"
  
  # Sidebar settings
  sidebar_about_description: "Senior Software Engineer, Open source enthusiast, PMP, Scrum master"
  sidebar_avatar: "img/20190713213835-3.jpg"      # Use absolute URL, since it's used in both `/` and `/about/`

  featured_tags: true 
  featured_condition_size: 1 

  # Baidu Analytics
  ba_track_id: ""
  
  # Enable WeChat Pay & Alipay to allow readers to send rewards if they like the articles
  reward: true
  # reward_guide: "If you found this article helpful, feel free to send a reward."

  friends: true
  bookmarks: false
  about_me: true
  
  social:
      rss: true 
      email: "akjamie.zhang@outlook.com"
      #facebook: "full profile url in facebook"
      #googleplus: "full profile url in googleplus"
      #twitter: "full profile url in twitter"
      linkedin: "https://www.linkedin.com/in/jamie-zhang"
      #stackoverflow: "https://stackoverflow.com/users/yourstackoverflowid"
      #instagram: "full profile url in instagram"
      github: "https://github.com/akjamie"
      wechat: "img/wechat-qrcode.png"
      #medium: "full profile url in medium"
      #pinterest: "full profile url in pinterest"
  algolia:
    vars:
      - title
      - summary
      - date
      - publishdate
      - expirydate
      - permalink
    params:
      - categories
      - tags
